orsm-data/
node_modules/
DOCUMENTATIONS AND CONTEXT/
# Ignore environment variables
/backend/.env
/backend/.env.example
/backend/.env.production
/backend/.env.local.template

# Frontend specific ignores
/.pnp
.pnp.js
/coverage
/frontend/build
.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android/Gradle Build Artifacts
**/build/
**/.gradle/
**/local.properties
**/*.apk
**/*.aar
